@model footballclub.ViewModels.AddSightingViewModel
@{
    ViewData["Title"] = "Add an Activity";
}

@section styles{
    <link href="@Url.Content("~/css/AddActivity.css")" rel="stylesheet" type="text/css" />
}


<div class="card blink2" id="genericcard">
    <p>insert calender here.  plug in/ api</p>
</div>
</br>
</br>
</br>
</br>
</br>
</br>