<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<a class="social" href="www.facebook.com"><i aria-hidden="true" class="fab fa-facebook-f" data-toggle="tooltip" title="Facebook"></i></a>

<a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
  ><i class="fab fa-facebook-f"></i
></a>
<!-- Facebook -->
<a style="color: #3b5998;" href="#!" role="button"
  ><i class="fab fa-facebook-f fa-lg"></i
></a>


<div id="homepagecardtop" class="card" style="border-radius: 6px;">
    <div class="text-center">
       
         <img class="homebanner" src="~/Images/footybanner.jpg">
    </div>
</div>



<div id="carocard" class="card" style="border-radius: 6px;" >
    <div class="containercaro">
       <div class="imagewrapper">
          <img class="caroimage" src="~/Images/caro1.jpg">
          <img class="caroimage" src="~/Images/caro2.jpg">
       </div>
    </div>
</div>

<div id="homepagecard" class="card" style="border-radius: 6px;" >
    </br>
    <p class="text-center lead fw-bold">Looking for something to do?
         </p>
    <p class="indent lead "> Find events all around STL! You can sort by type of activity, price, and other tags! Perfect for date night, work events, friends!
    </P> 
    <div class="featureList">
        <ul class="featureListBullets">
          <li class=" lead fw-bold">Create an account!</li>
          <li class="fw-bold lead" >Read reviews of places around STL!</li>
          <li class="fw-bold lead">Save activities to your favorites list!</li>
        </ul>
     </div>
</div>

<div id="homepagecard" class="card" style="border-radius: 6px;" >
    </br>
    <p class="text-center lead fw-bold">insert social media links/ icons
         </p>
    
   
</div>

<!-- Add font awesome icons -->
<a href="https://www.facebook.com/bluesfooty/" class="fa fa-facebook"></a>
<a href="https://twitter.com/stlafl" class="fa fa-twitter"></a>
<a href="https://www.youtube.com" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/stlaustralianfootball/?hl=en" class="fa fa-instagram"></a>
<a href="https://vimeo.com/user/68527828/folder/17071248" class="fa fa-vimeo"></a>


<!--Google Map-->
<div id="homepagecard" class="card" style="border-radius: 6px; align-items: center" >
    <h2 class="display-6">Use our map!</h2>
    <p>Click on the map icons below for more information.</p>
    <p><img src="~/Images/alienicon.png">- Alien <img src="~/Images/ghosticon.png">- Ghost <img src="~/Images/bigfooticon.png">- Bigfoot</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Y_kdiShf4lOWqxtjVW5YjqLHWzIZO3g&ehbc=2E312F&noprof=1" width="100%" height="480"></iframe>
</div>


<div class="flex-column widget-container" style="padding: 0px 20px; padding-top:10px;margin-left: 25%;margin-right: 25%;">

            <div class="">
              
                <div class="preview">
                  <div class="video-cover">
                    <iframe src="https://www.youtube.com/embed/kRo0jN4nTew" allow="autoplay; encrypted-media" title="video" width="100%" height="100%" frameborder="0">
                    </iframe>
                  </div>
                </div>
                
                  
            </div>
          
        
      </div>

<br/>