@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section styles {
    <link href="@Url.Content("~/css/Photos.css")" rel="stylesheet" type="text/css" />
}

<div class="container body-content">
    <h1>@ViewBag.title</h1>
    <p>
    <div id="searchcard" class="card blink2 container body-content" style="border-radius: 6px;" >
           
        
</div>



        <div class="row">
            <div class="column">
                <img src="~/Images/photospage/ppage1.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
            </div>
            <div class="column">
                <img src="~/Images/photospage/ppage2.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
            </div>
            <div class="column">
                <img src="~/Images/photospage/ppage3.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
            </div>
            <div class="column">
                <img src="~/Images/photospage/ppage4.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro2.jpg">
                <img src="~/Images/caro1.jpg">
                <img src="~/Images/caro3.jpg">
            </div>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
</div>